.pl-feed {
  width: 730px;
  margin: 0 auto;
  position: relative;
  
  &__post {
    background-color: #EDF9FD;
    padding: 15px;

    img {
      position: absolute;
      height: 30px;
      right: 25px;
      top: 20px;
    }
  }

  &__feed {
    border: 1px solid #F2F5F5;
    width: 700px;
    margin-left: 15px;
    margin-top: 15px;
    padding: 10px;
    padding-right: 20px;
    border-radius: 2px;
    position: relative;
    cursor: pointer;

    &--content {
      color: #53585F;
    }

    &--date  {
      color: #717882;
      padding-top: 5px;
      font-size: smaller;
    }

    a {
      color: #FF94A8;
      text-decoration: none;
      position: absolute;
      font-weight: bold;
      bottom: 10px;
      right: 20px;

      &:hover {
        cursor: pointer;
      }

      &:active {
        color: red;
      }
    }

    &.selected {
      border: 1px solid #A6AAA9;
    }
  }

  &--search {
    img {
      height: 20px;
      left: 25px;
      top: 27px;
    }
  }
}

 .pl-search {
    position: absolute;
    right: -35px;
    top: 25px;
    display: flex;
    align-items: center;

    img {
      width: 20px;
      height: 20px;
    }

    a {
      color: #53585F;
      padding-left: 8px;
      &:hover {
        text-decoration: none;
      }
    }
  }