.pl-feed {
  width: 730px;
  margin: 0 auto;
  position: relative;
  
  &__post {
    background-color: #EDF9FD;
    padding: 15px;

    img {
      position: absolute;
      height: 30px;
      right: 25px;
      top: 20px;
      cursor: pointer;
    }

    &--img-on-focus {
      height: 50px;
    }

    &--on-focus {
        height: 160px;

        textarea {
          height: 80px;
        }

        img {
          left: 30px;
          top: inherit;

          &[height='15'] {
            height: 15px !important;
          }
        }
    }

    &--close-btn {
      right: 30px !important;
      left: inherit !important;
      height: 15px !important;
      top: 29px !important;
    }

    &--search {
      img {
        height: 20px;
        left: 25px;
        top: 27px;
      }
    }
  }

  &__feed {
    border: 1px solid #F2F5F5;
    width: 700px;
    margin-left: 15px;
    margin-top: 15px;
    padding: 10px;
    padding-left: 25px;
    border-radius: 2px;
    position: relative;
    cursor: pointer;

    &--content {
      color: #53585F;
    }

    &--date  {
      color: #717882;
      padding-top: 5px;
      font-size: smaller;
    }

    &--img {
      max-height: 400px;
    }

    &--delete {
      color: #FF94A8;
      text-decoration: none;
      position: absolute;
      font-weight: bold;
      bottom: 10px;
      right: 20px;

      &:hover {
        cursor: pointer;
        text-decoration: none;
        color: red;
      }

      &:active {
        color: red;
      }
    }

    &.selected {
      border: 1px solid #A6AAA9;
    }
  }
}

 .pl-search {
    position: absolute;
    right: -8%;
    top: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 99;
    
    img {
      width: 20px;
      height: 20px;
    }

    a {
      color: #53585F;
      padding-left: 8px;
      &:hover {
        text-decoration: none;
      }
    }
  }