body {
    background-color: $body-bg-color;
}

.pl-container {
    width: 900px;
    margin: 0 auto;
}

.pl-header {
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: flex-end;

    &--feed {
        justify-content: space-between;

        &__user {
            display: flex;

            button:first-child {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 2px;
                width: 34px;
                margin-right: 4px;

                span.icon-user {
                    font-size: 25px;
                    color: #fff;
                }
            }
        }
    }
}

.pl-input {
    &--files {
        width: 0;
        height: 0;
    }

    &--main {
        width: 100%;
        padding: 5px;
        border: 1px solid $font-color-light-grey;
    }
}

.btn {
    &--primary {
        background-color: $font-color-blue-bold;
        color: #fff;
        // border: 3px solid #c7f8f9;
        font-weight: 100 !important;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);

        &:hover {
            color: #fff;
        }
    }
}

.pl-icon {
    width: 30px;
    &--plus {
        width: 20px;
    }

    &--more {
        width: 20px;
    }
}

.pl-loading {
    background:url(../assets/img/loading.gif) no-repeat center center;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}