$body-bg-color: #F7F8FA;
$font-color-blue-bold: #003366;
$font-color-blue: #597CA4;
$font-color-light-blue: #D5DEE8;
$font-color-grey: #C4C4C4;
$font-color-dark-grey: #7A7E83;
$font-color-light-grey: #D6DEE6;
